
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose from below options</h2>
<h4>@Html.ActionLink("Admin", "AdminLogin","Account")</h4>
<h4>@Html.ActionLink("Customer", "Indexes", "Carts")</h4>