
@{
    ViewBag.Title = "EmptyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Cart</h2>

<h4>
    No Items in cart.
    @Html.ActionLink("Continue Shopping", "Indexes")
</h4>
